
#blog.section
  .container
    .row
      .span12
        h2 In the wild
          .btt <a href="#header">Top</a>
    .row
      .span8
        h3 Words of Chloi
        ul.articles
          each article in articles
            li.article(class="#{ article.color }")
              a(href="/#{ article.slug }")
                span.fancy
                h3.article-title= article.title
                span.article-meta #{article.date} by #{article.author}
      .span4
        h3 Twitter
        script(charset="utf-8", src="http://widgets.twimg.com/j/2/widget.js")
        script
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 5,
            interval: 30000,
            width: 'auto',
            height: 300,
            theme: {
              shell: {
                background: '#ffffff',
                color: '#333333'
              },
              tweets: {
                background: '#ffffff',
                color: '#333333',
                links: '#333333'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              behavior: 'all'
            }
          }).render().setUser('chloi_inc').start();