\<?xml version="1.0" encoding="UTF-8"?>
feed(xmlns='http://www.w3.org/2005/Atom')
  title Words of Chloi
  link(href="http://words.chloi.io/articles.rss", rel="self", type="application/atom+xml")
  link(href="http://words.chloi.io", rel="alternate", type="text/html")
  updated= new Date(articles[articles.length -1].date).toString("yyyy-MM-ddTHH:mm:ssZ")
  id http://words.chloi.io
  each article in articles
    entry(xml:base="http://words.chloi.io")
      title= article.title
      author
        name= article.name
        title
          \<![CDATA[ #{ article.title } ]]>
        id= "http://words.chloi.io/" + article.slug
        published= new Date(article.date).toString("yyyy-MM-ddTHH:mm:ssZ")
        updated= new Date(article.date).toString("yyyy-MM-ddTHH:mm:ssZ")
        link(href="http://words.chloi.io/#{ article.slug }", rel="alternate", type="text/html")
        content(type="html")= article.html
      
