h1.heading Words of Chloi

ul.articles
  each article in articles
    li.article-item(class="#{ article.color }")
      a(href="/#{ article.slug }")
        span.fancy
        h3.article-title= article.title
        span.article-meta #{article.date} by #{article.author}